<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>首頁</title>
</head>

<body>
    <p>請選擇功能:</p>
    <p><a href="http://127.0.0.1:5000/information">搜尋單筆建案</a></p>
    <p><a href="http://127.0.0.1:5000/inrange">搜尋建案範圍內設施</a><br></p>
    <p><a href="http://127.0.0.1:5000/compare">比較兩筆建案</a><br></p>
    <p><a href="http://127.0.0.1:5000/rate">郭氏居住便利度評比</a><br></p>
    <p><a href="http://127.0.0.1:5000/price">周圍建案價格</a><br></p>
    <p><a href="http://127.0.0.1:5000/add">新增建案資料</a><br></p>
    <p><a href="http://127.0.0.1:5000/delete">刪除建案資料</a><br></p>
</body>

</html>